<header>
    
        <a href="/"><img src="/assets/logo.png" alt=""></a>
    
        <nav>
            <a href="/"> Site Principal </a>
            <a href="/admin/produtos"> Deletar Produtos </a>
            <a href="/admin/produtos/inserir"> Inserir Produtos </a>
        </nav>
    </header>