<header>
    <img src="/assets/logo.png" alt="">
    
    <nav>
        <a href="/"> Home </a>
        <a href="/produtos"> Produtos </a>
        <a href="/contato"> Contato </a> |
        <a href="/admin/produtos/inserir"> Cadastro de Produtos </a>
    </nav>
</header>