<header>
    
    <a href="/"><img src="/assets/logo.png" alt=""></a>

    <nav>
        <a href="/produtos"> Produtos </a>
        <a href="/contato"> Contato </a> |
        <a href="/admin"> Admin </a>
    </nav>
</header>