<!DOCTYPE html>
<html lang="en">
     <%-include("shared/head")%>
<body>
    <%- include('shared/header-admin') %>

     <section class="cadastro">
        <h2 class="titulo"> Cadastro de Produtos </h2>

        <h3><%= mensagem %></h3>

        <p>
            <a href="/admin/produtos" class="link">Ir para a página admin/produtos </a>
        </p>
        

        <form method="POST">
            <input type="text" placeholder="produto" name="produto">
            <input type="text" placeholder="imagem" name="imagem">
            <input type="text" placeholder="quantidade" name="quantidade">
                
            <button>Cadastrar</button>
        </form>
     </section>

     <%-include("shared/footer")%>
</body>
</html>