<!DOCTYPE html>
<html lang="en">
     <%-include("shared/head")%>
<body>
     <%-include("shared/header")%>

     <section class="contato">
        <h2> Contato </h2>
     </section>

     <%-include("shared/footer")%>
</body>
</html>