<!DOCTYPE html>
<html lang="en">
     <%-include("shared/head")%>
<body>
     <%-include("shared/header")%>

     <section class="home">
          <div class="banner">
            <h2> Seja Bem Vindo a Arte em Miniaturas! </h2>
            <img src="/assets/banner.jpg" alt="">
          </div>
     </section>

     <%-include("shared/footer")%>
</body>
</html>